{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} forum {% endblock %}

{% block heading %} 
    
    Forum 
{#     <span class="badge">{{ forums | length }}</span> #}

{% endblock heading %}

{% block content %}

<div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Forum</th>
                    <th>Topics</th>
                    <th class="hidden-xs"></th>
                </tr>
            </thead>

            <tbody>
            {# {% for forum in forums %} #}

                <tr class='clickable-row' data-href='{% url 'thread_list' forum.slug %}'>

                    <td>
                        <span class='title'>{{ forum.title }}</span>
                    </td>
                    <td>
                        {{ forum.num_threads }}
                    </td>
                    <td class="hidden-xs">
                        <a href="{% url 'thread_list' forum.slug %}" class="btn btn-default" role="button">VIEW</a>
                    </td>
                
                </tr>

            {# {% endfor %} #}
            </tbody>
        </table>
    </div> {# end table-responsive #}

</div>

{% endblock content %}

{% block script_addon %}

<script src="{% static 'js/clickRow.js' %}"></script>
    
{% endblock script_addon %}


