{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} thread {% endblock %}

{% block heading %} 

    Threads 
    <span class="badge">{{ threads.object_list  | length }}</span>

{% endblock heading %}

{% block content %}

<a href="#" id="new_topic" class="btn btn-default" role="button">Start New Topic</a>

<div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Topics</th>
                    <th>Replies</th>
                    <th>Last post</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
            {% for thread in threads.object_list %}

                <tr class='clickable-row' data-href='#'>

                    <td {% if forloop.last %}class='last' {% endif %} >
                        <span class='title'>{{ thread.title }}</span>
                    </td>
                    <td {% if forloop.last %}class='last' {% endif %} >
                        {{ thread.num_replies }}
                    </td>
                    <td {% if forloop.last %}class='last' {% endif %} >
                        {{ thread.last_post.short | linebreaksbr }}
                    </td>
                    <td {% if forloop.last %}class='last' {% endif %} >
                    	<a href='#' class="btn btn-default" role="button">VIEW</a>
                    </td>
                
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block script_addon %}

<script src="{% static 'js/clickRow.js' %}"></script>
    
{% endblock script_addon %}


