{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} forum {% endblock %}

{% block heading %} 
    
    Forum 
    <span class="badge">{{ forums | length }}</span>

{% endblock heading %}

{% block content %}

<div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Topics</th>
                    <th>Posts</th>
                    <th>Last post</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
            {% for forum in forums %}

                <tr class='clickable-row' data-href='{% url 'thread_list' forum.slug %}'>

                    <td {% if forloop.last %}class='last' {% endif %} >
                        <span class='title'>{{ forum.title }}</span>
                    </td>
                    <td {% if forloop.last %}class='last' {% endif %} >
                        {{ forum.num_posts }}
                    </td>
                    <td {% if forloop.last %}class='last' {% endif %} >
                        {{ forum.last_post.short | linebreaksbr }}
                    </td>
                    <td {% if forloop.last %}class='last' {% endif %} >
                        <a href="{% url 'thread_list' forum.slug %}" class="btn btn-default" role="button">VIEW</a>
                    </td>
                
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div> {# end table-responsive #}

    {# next/prev page links #}
    {% include "forum/pagination.html" %}

</div>

{% endblock content %}

{% block script_addon %}

<script src="{% static 'js/clickRow.js' %}"></script>
    
{% endblock script_addon %}


