{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} posts {% endblock %}

{% block heading %} 

    {{ title }} 
    <span class="badge">{{ posts  | length }}</span>

{% endblock heading %}

{% block content %}

{# posts aka thread.html #}

{# <a href="{% url 'thread_list' thread.pk %}" class="btn btn-default" role="button">&lt;&lt; back to list of topics</a> #}

<div>

    {% for post in posts %}

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">re: {{ post.title }}</h3>
            </div>
            <div class="panel-body">
                <p>{{ post.body }}</p>
                <p>by {{ post.creator.first_name }} {{ post.creator.last_name }} | {{ post.created | timesince }} ago</p>
            </div>
        </div>

    {% endfor %}

    <!-- next/prev page links  -->
    {% include "forum/pagination.html" %}

    {# <a href="{% url 'post' 'reply' pk %}" class="btn btn-default" role="button">Reply</a> #}

</div>

{% endblock content %}

{% block script_addon %}

{# <script src="{% static 'js/clickRow.js' %}"></script> #}
    
{% endblock script_addon %}



