{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} topics {% endblock %}

{% block heading %} 

    Topics
    <span class="badge">{{ threads | length }}</span>

{% endblock heading %}

{% block content %}

{# threads aka forum.html #}

{# <a href="{% url 'post' 'new_thread' pk %}" id="new_topic" class="btn btn-default" role="button">Start New Topic</a> #}
{# <a href="{% url 'create_phone' member.user_extension.pk %}" class="btn btn-default btn-xs" aria-label="Left Align"> #}
    {# <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> #}
{# </a>  #}

<div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Topics</th>
                    <th>Replies</th>
                    <th>Last post</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
            {% for thread in threads %}

                <tr class='clickable-row' data-href=''>

                    <td {% if forloop.last %}class='last' {% endif %} >
                        <span class='title'>{{ thread.id }}: {{ thread.title }}</span>
                    </td>
                    <td {% if forloop.last %}class='last' {% endif %} >
                        {{ thread.num_replies }}
                    </td>
                    <td {% if forloop.last %}class='last' {% endif %} >
                        {{ thread.last_post.short | linebreaksbr }}
                    </td>
                    <td {% if forloop.last %}class='last' {% endif %} >
                    	<a href="" class="btn btn-default" role="button">VIEW</a>
                    </td>
                
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>{# end table-responsive #}

    <!-- next/prev page links  -->
    {% include "forum/pagination.html" %}

</div>

{% endblock content %}

{% block script_addon %}

<script src="{% static 'js/clickRow.js' %}"></script>
    
{% endblock script_addon %}


