{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} forum {% endblock %}

{% block heading %} 

    Topics
    <span class="badge">{{ threads | length }}</span>

{% endblock heading %}

{% block content %}

<div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Topics</th>
                    <th>Replies</th>
                    <th>Last post</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
            {% for thread in threads %}

                <tr class='clickable-row' data-href='{% url 'post_list' thread.forum.slug thread.slug %}'>

                    <td {% if forloop.last %}class='last' {% endif %} >
                        <span class='title'>{{ thread.title }}</span>
                    </td>
                    <td {% if forloop.last %}class='last' {% endif %} >
                        {{ thread.num_replies }}
                    </td>
                    <td {% if forloop.last %}class='last' {% endif %} >
                        {{ thread.last_post.short | linebreaksbr }}
                    </td>
                    <td {% if forloop.last %}class='last' {% endif %} >
                    	<a href="{% url 'post_list' thread.forum.slug thread.slug %}" class="btn btn-default" role="button">VIEW</a>
                    </td>
                
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>{# end table-responsive #}

    {# next/prev page links #}
    {% include "forum/pagination.html" %}

</div>

{% endblock content %}

{% block script_addon %}

<script src="{% static 'js/clickRow.js' %}"></script>
    
{% endblock script_addon %}


