{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %} login {% endblock %}

{% block heading %} 

<div class="page-header col-xs-12 col-sm-8 col-sm-offset-2">

Login 

</div>

{% endblock %}

{% block content %}

<div class="col-xs-12 col-sm-8 col-sm-offset-2">

	<form method="post" action=".">
	  {% csrf_token %}
	  {{ form|crispy }}

	  <input class='btn btn-default' type="submit" value="{% trans 'Submit' %}" />
	  <input type="hidden" name="next" value="{{ next }}" />
	</form>

	<hr>

	{# <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p> #}
	<p>{% trans "Not member" %}? <a href="{% url 'register' %}">{% trans "Sign up for free" %}</a>!</p>

</div>

{% endblock %}
