{% extends "base.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %} {{ view.title }} {% endblock %}

{% block heading %}

<div class="page-header col-xs-12 col-sm-8 col-sm-offset-2">

	{{ view.section }}

</div>

{% endblock heading %}

{% block content %}

<div class="col-xs-12 col-sm-8 col-sm-offset-2">

	<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

		{{ form | crispy }}

		<input type="submit" id="updateButton" class="btn btn-default" value="{{ view.button }}">
		<div id="updated" class="alert alert-success" role="alert">Update Successful</div>
	
	</form>
</div>

{% endblock content %}

{% block script_addon %}

<script type="text/javascript">

	var button = document.getElementById('updateButton')
	button.addEventListener('click', showStatus);
	function showStatus() {
	   document.getElementById('updated').style.display = "block";
	}
</script>

<script type="text/javascript" src="{% static 'js/speakingurl.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slugify.min.js' %}"></script>

<script>

	document.getElementById('id_slug').readOnly = true;

	jQuery(function($) {
	  $('#id_slug').slugify('#id_title'); // Type as you slug
	});
</script>

{% endblock script_addon %}




