
/*-------------------------------------------------------------------layout */
html, body {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
}

/*---------------------------------------------------------------infowindow */
.map_image {
	width: 50%;
	margin: 0 auto;
}

/*----------------------------------------------------------------------map */
#map {
	width: 100%;
	height: 85%;
	left : 0; 
	top: 50px;
	position : absolute; 
}



