{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} invite {% endblock %}

{% block heading %}

	{% if user.is_authenticated and user.is_staff %}
		<h2>Invite to Group</h2>
		<span>
			<a href="{% url 'invite' %}" class="create">&plus;</a>
		</span>
	{% else %}
		<h2>Invite to Group</h2>
	{% endif %}

{% endblock heading %}

{% block content %}

<div>

	{% if successful_invite %}

		<p>Invitation Sent!</p>
	
	{% else %}

		<form method="POST" action="">{% csrf_token %}

			{{ form.as_p }}

			<input type="submit" value="Send">

		</form>
	{% endif %}
	
</div>

{% endblock content%}