{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} login {% endblock %}

{% block heading %} Networker Login {% endblock %}

{% block content %}

<form id="login_form" method="post" action="/login/">
	{% csrf_token %}	

	<div class="form-group">
		<input type="text" name="username" class="form-control" placeholder="Username">
	</div>
	<div class="form-group">
		<input type="text" name="password" class="form-control" placeholder="Password">
	</div>
	<button type="submit" class="btn btn-default">Login</button>
</form>

{% endblock content %}