{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} map {% endblock %}

{% block head_base %}{% endblock head_base %}

{% block head_addon %}

<link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript">
	
	function initialize() {

		// portland
		var center_usa = {lat: 39.5, lng: -98.35};

		// basic display of map
		var mapCanvas = document.getElementById('map');
		var mapOptions = {
			// center: new google.maps.LatLng(45.5200, -122.6819),
			center: center_usa,
			zoom: 4,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		var map = new google.maps.Map(mapCanvas, mapOptions);

		// // marker
		// var marker = new google.maps.Marker({
		// 	// position: new google.maps.LatLng(45.5200, -122.6819),
		// 	position: center_usa,
		// 	map: map, 
		// 	title: 'Portland, OR',
		// 	label: 'center_usa'
		// })

		// marker.addListener('click', function() {
		// 	infowindow.open(map, marker);
		// })

		$.getJSON('{% static 'ajax/user_address.json' %}', function(data) {
			$.each(data, function (key, value) {
				var address_coordinates = new google.maps.LatLng(value.fields.latitude_api, value.fields.longitude_api);
				// console.log(address_coordinates);
				var marker = new google.maps.Marker({
					position: address_coordinates,
					map: map,
					title: value.fields.first_name + ' ' + value.fields.last_name
				})

				// info window
				var contentString = 
					'<div>' +
						'<img src="/static/' + value.fields.profile_image + '" alt="' + value.fields.first_name + ' ' + value.fields.last_name + ' Profile Image" class="map_image">' +
			      		'<h1>' + value.fields.first_name + ' ' + value.fields.last_name +
			     		'</h1>' +
			      		'<div>' +
			      			'<p>' + value.fields.city_town + ', ' + value.fields.state_province + '</p>' +
			      		'</div>'+
			      	'</div>';

				var infowindow = new google.maps.InfoWindow({
					content: contentString,
    				maxWidth: 200
				})

				marker.addListener('click', function() {
					infowindow.close();
					infowindow.open(map, marker);
				})
			})
		})
	}

	google.maps.event.addDomListener(window, 'load', initialize);

</script>

{% endblock head_addon %}

{% block header %}{% endblock header %}

{% block heading %}{% endblock heading %}

{% block content %}

<div id="map"></div>

{% endblock content %}

{% block footer %}{% endblock footer %}

{% block script_addon %}

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

{% endblock script_addon %}