<section class="left-col">

	<ul>
		<li><a href="{% url 'user_detail' user.pk %}" class='list-item'>Full Profile</a></li>
		<li><a href="{% url 'update_main' user.pk %}">Main</a></li>
		<li><a href="{% url 'update_additional' user.pk %}">Additional</a></li>
		<li><a href="{% url 'update_membership' user.pk %}">Membership</a></li>
		<li><a href="{% url 'listing_phone' user.pk %}">Phone</a></li>
		<li><a href="{% url 'listing_email' user.pk %}">Alternate Email</a></li>
		<li><a href="{% url 'listing_address' user.pk %}">Address</a></li>
		<li><a href="{% url 'listing_social_media' user.pk %}">Social Profile</a></li>
		<li><a href="">Job Profile</a></li>
		<li><a href="">Skill Profile</a></li>
	</ul>

</section>