{% load static from staticfiles %}

<section class="col-xs-6 col-sm-4 sidebar-offcanvas" id="sidebar">

	<div class="list-group">

		<a href="{% url 'user_profile' user.pk %}" class="active list-group-item">Back to Profile <span class="sr-only">(current)</span></a>
		<a href="{% url 'update_main' user.pk %}" class="list-group-item">Main</a>
		<a href="{% url 'update_additional' user.pk %}" class="list-group-item">Additional</a>
		<a href="{% url 'update_membership' user.pk %}" class="list-group-item">Membership</a>
		<a href="{% url 'listing_phone' user.pk %}" class="list-group-item">Phone</a>
		<a href="{% url 'listing_email' user.pk %}" class="list-group-item">Alternate Email</a>
		<a href="{% url 'listing_address' user.pk %}" class="list-group-item">Address</a>
		<a href="{% url 'listing_social_media' user.pk %}" class="list-group-item">Social Profile</a>
		<a href="{% url 'listing_job' user.pk %}" class="list-group-item">Job Profile</a>
		<a href="{% url 'listing_skill' user.pk %}" class="list-group-item">Skill Profile</a>

	</div>
</section><!--/.sidebar-offcanvas-->