{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} update {% endblock %}

{% block nav_addon %} 

	<a href="{% url 'update_main' pk=object.pk %}">Main</a> 
	<a href="{% url 'update_additional' pk=object.pk %}">Additional</a> 
	<a href="{% url 'update_membership' pk=object.pk %}">Membership</a>
	<a href="{% url 'update_phone' pk=object.pk %}">Phone</a>  

{% endblock nav_addon %}

{% block content %}

<div>
	<h4><span>{{ user.username }}</span> {{ view.section }}</h4>	

	<form action="" method="POST" enctype="multipart/form-data">

		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="{{ view.button }}">
	</form>
</div>

{% endblock %}
