{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} profile {% endblock %}

{% block content %}

<div>

	{% if user.is_authenticated and user.get_username == apples.user_extension.username %}
		<h2>
			<a href="{% url 'update_main' pk=apples.user_extension.pk %}">{{ apples.user_extension.username }}</a>
		</h2>
	{% else %}
		<h2 class="anonymous-user">{{ apples.user_extension.username }}</h2>
	{% endif %}
	
	<ul>
		{% if apples.profile_image %}
			<li><img src="{{ apples.profile_image.url }}"></li>
		{% else %}
			<li><img src="https://unsplash.it/150/150/?random"></li>
		{% endif %}
		<li>ids: {{ apples.user_extension.id }} &vrtri; {{ apples.id }} </li>
		<li>username: {{ apples.user_extension.username }}</li>
		{# <li>password: {{ apples.user_extension.password }}</li> #}
		<li>first name: {{ apples.user_extension.first_name | default:"none" }}</li> 
		<li>last name: {{ apples.user_extension.last_name | default:"none" }}</li>
		{% if apples.is_superuser %}
			<li>active status: {{ apples.user_extension.is_active }}</li>
		{% endif %}
		<li>staff status: {{ apples.user_extension.is_staff }}</li>
		<li>superuser status: {{ apples.user_extension.is_superuser }}</li>
		<li>last login: {{ apples.user_extension.last_login | timesince }}</li>
		<li>date joined: {{ apples.user_extension.date_joined | date:"F d, Y f A e" }}</li>
	</ul>

	<h4>
		<a href="{% url 'update_additional' pk=apples.pk %}">Additional</a>
	</h4>
	<ul>
		<li>relationship to group: {{ apples.relationship_to_group | default:"none" }}</li>
		<li>nickname: {{ apples.nickname | default:"none" }}</li>
		<li>website: {{ apples.website | default:"none" }}</li>
		<li>place of birth: {{ apples.place_of_birth |  default:"none" }}</li>
		<li>date of birth: {{ apples.date_of_birth | date:"F d, Y" |  default:"none" }}</li>
	</ul>

	<h4>
		<a href="{% url 'update_membership' pk=apples.user_extension.pk %}">Membership</a>
	</h4>
	<ul>
		{% for group in apples.user_extension.groups.values %}
			<li>{{ group.name }}</li>	
		{% endfor %}
	</ul>

	<h4>
		Phone 
		<span><a href="{% url 'create_phone' pk=apples.pk %}">add</a></span> 
	</h4>
	<ul>
		{% for phone in apples.userphone_set.all %}
			<li>
				<a href="{% url 'update_phone' phone.pk %}">({{ phone.phone_category_id.phone_category }}) +{{ phone.country_code }} {{ phone.phone_number }}</a>
				<span><a href="{% url 'delete_phone' phone.pk %}">delete</a></span>
			</li>	
		{% endfor %}
	</ul>

	<h4>
		Email
		<span><a href="{% url 'create_email' pk=apples.pk %}">add</a></span> 
	</h4>
	<ul>
		<li>
			<a href="{% url 'update_email' pk=apples.pk %}">(Main) {{ apples.user_extension.email }}</a>
			<span><a href="{% url 'delete_email' pk=apples.pk %}">delete</a></span>
		</li>
		{% for email in apples.useremail_set.all %}
			<li>
				<a href="{% url 'update_email' email.pk %}">({{ email.email_category_id.email_category }}) {{ email.email }}</a>
				<span><a href="{% url 'delete_email' email.pk %}">delete</a></span>
			</li>	
		{% endfor %}
	</ul>

	<h4>
		Address
		<span><a href="{% url 'create_address' pk=apples.pk %}">add</a></span>
	</h4>
	<ul>
		{% for address in apples.useraddress_set.all %}
			<li>
				<a href="{% url 'update_address' address.pk %}">({{ address.address_category_id.address_category }}) {{ address.street_address_1 }}, {{ address.city_town }}, {{ address.state_province }}</a>
				<span><a href="{% url 'delete_address' pk=address.pk %}">delete</a></span>
			</li>	
		{% endfor %}
	</ul>

	<h4>Social Profile</h4>
	<ul>
		{% for social_media in apples.usersocialmedia_set.all %}
			<li>({{ social_media.social_media_category_id.social_media_category }}) {{ social_media.social_media_url }}</li>	
		{% endfor %}
	</ul>

	<h4>Job Profile</h4>
	<ul>
		{% for job in apples.userjob_set.all %}
			<li>{{ job.job_title }}, {{ job.company_name }}</li>	
		{% endfor %}
	</ul>

	<h4>Skill Profile</h4>
	<ul>
		{% for skill in apples.userskill_set.all %}
			<li>{{ skill.skill_category_id.skill_category }} {{ skill.skill_description }}</li>	
		{% endfor %}
	</ul>

</div>

{% endblock content %}

{% block footer %}{% endblock footer %}
