{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} update {% endblock %}

{% block nav_addon %} 

	<a href="{% url 'update_main' pk=object.pk %}">Main</a> 
	<a href="{% url 'update_additional' pk=object.pk %}">Additional</a> 
	<a href="{% url 'update_membership' pk=object.pk %}">Membership</a>
	<a href="{% url 'update_phone' pk=object.pk %}">Phone</a>  

{% endblock nav_addon %}

{% block content %}

<div>
	{% block content_header %}
{# 		<h4>Additional</h4> #}
	{% endblock content_header %}

	<form action="" method="POST">

		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="update">
	</form>
</div>

{% endblock %}
