{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} profile {% endblock %}

{% block heading %}{% endblock heading %}

{% block content %}

{# -----------------------------------------------------------full name #}

	{% if user.is_authenticated and user.get_username == member.user_extension.username %}
		<h2>
			<span class='user'>{{ user.username }}</span>
			{{ member.user_extension.first_name }}
			{{ member.user_extension.last_name }}
		</h2>
	{% else %}
		<h2 class="unauthorized">
			{{ member.user_extension.first_name }}
			{{ member.user_extension.last_name }}
		</h2>
	{% endif %}

<div>
	{# ---------------------------------------------------------------image #}
	{% if member.profile_image %}
		<img src="{{ member.profile_image.url }}">
	{% else %}
		<img src="https://unsplash.it/150/150/?random">
	{% endif %}

	{# ----------------------------------------------------------------main #}
	{% if user.is_authenticated and user.get_username == member.user_extension.username %}
		<h4>
			Main
			<span>
				<a href="{% url 'update_main' pk=member.user_extension.pk %}" class='update'>edit</a>
			</span>
		</h4>
	{% else %}
		<h4 class="unauthorized">Main</h4>
	{% endif %}

	<ul>
		<li>ids: {{ member.user_extension.id }} &vrtri; {{ member.id }} </li>
		<li>username: {{ member.user_extension.username }}</li>
		{# <li>password: {{ member.user_extension.password }}</li> #}
		<li>first name: {{ member.user_extension.first_name | default:"none" }}</li> 
		<li>last name: {{ member.user_extension.last_name | default:"none" }}</li>
		<li>primary email: {{ member.user_extension.email }}</li>
		<li>active status: {{ member.user_extension.is_active }}</li>
		<li>staff status: {{ member.user_extension.is_staff }}</li>
		<li>superuser status: {{ member.user_extension.is_superuser }}</li>
		<li>last login: {{ member.user_extension.last_login | timesince }}</li>
		<li>date joined: {{ member.user_extension.date_joined | date:"F d, Y f A e" }}</li>
	</ul>

	{# ----------------------------------------------------------additional #}
	{% if user.is_authenticated and user.get_username == member.user_extension.username %}
		<h4>
			Additional
			<span>
				<a href="{% url 'update_additional' pk=member.user_extension.pk %}" class='update'>edit</a>
			</span>
		</h4>
	{% else %}
		<h4 class="unauthorized">Additional</h4>
	{% endif %}

	<ul>
		<li>relationship to group: {{ member.relationship_to_group | default:"none" }}</li>
		<li>nickname: {{ member.nickname | default:"none" }}</li>
		<li>website: {{ member.website | default:"none" }}</li>
		<li>place of birth: {{ member.place_of_birth |  default:"none" }}</li>
		<li>date of birth: {{ member.date_of_birth | date:"F d, Y" |  default:"none" }}</li>
	</ul>

	{# ----------------------------------------------------------membership #}
	{% if user.is_authenticated and user.get_username == member.user_extension.username %}
	<h4>
		Membership
		<span>
			<a href="{% url 'update_membership' pk=member.user_extension.pk %}" class='update'>edit</a>
		</span>
	</h4>
	{% else %}
		<h4 class="unauthorized">Membership</h4>
	{% endif %}

	<ul>
		{% for group in member.user_extension.groups.values %}
			<li>{{ group.name }}</li>	
		{% endfor %}
	</ul>

	{# ---------------------------------------------------------------phone #}
	{% if user.is_authenticated and user.get_username == member.user_extension.username %}
	<h4>
		Phone
		<span>
			<a href="{% url 'create_phone' member.user_extension.pk %}" class="create">&plus;</a>
		</span> 
	</h4>
	{% else %}
		<h4 class="unauthorized">Phone</h4>
	{% endif %}

	<ul>
		{% for phone in member.userphone_set.all %}
			{% if phone.deactivate == False %}
			<li>
				({{ phone.phone_category_id.phone_category }}) +{{ phone.country_code }} {{ phone.phone_number }} 
				<span>
					<a href="{% url 'update_phone' pk=member.user_extension.id phone=phone.pk %}" class="update">edit</a>
				</span>
			</li>	
			{% endif %}
		{% endfor %}
	</ul>

	{# ---------------------------------------------------------------email #}
	{% if user.is_authenticated and user.get_username == member.user_extension.username %}
	<h4>
		Alternate Email
		<span>
			<a href="{% url 'create_email' member.user_extension.pk %}" class="create">&plus;</a>
		</span> 
	</h4>
	{% else %}
		<h4 class="unauthorized">Alternate Email</h4>
	{% endif %}

	<ul>
		{% for email in member.useremail_set.all %}
			{% if email.deactivate == False %}
			<li>
				({{ email.email_category_id.email_category }}) {{ email.email }}
				<span>
					<a href="{% url 'update_email' pk=member.user_extension.id email=email.pk %}" class="update">edit</a>
				</span>
			</li>
			{% endif %}	
		{% endfor %}
	</ul>

	{# -------------------------------------------------------------address #}
	{% if user.is_authenticated and user.get_username == member.user_extension.username %}
	<h4>
		Address
		<span>
			<a href="{% url 'create_address' member.user_extension.pk %}" class="create">&plus;</a>
		</span>
	</h4>
	{% else %}
		<h4 class="unauthorized">Address</h4>
	{% endif %}

	<ul>
		{% for address in member.useraddress_set.all %}
			{% if address.deactivate == False %}
			<li>
				({{ address.address_category_id.address_category }}) {{ address.street_address_1 }}, {{ address.city_town }}, {{ address.state_province }}
				<span>
					<a href="{% url 'update_address' pk=member.user_extension.id address=address.pk %}" class="update">edit</a>
				</span>
			</li>
			{% endif %}	
		{% endfor %}
	</ul>

	{# --------------------------------------------------------social media #}
	{% if user.is_authenticated and user.get_username == member.user_extension.username %}
	<h4>
		Social Profile
		<span>
			<a href="{% url 'create_social_media' member.user_extension.pk %}" class="create">&plus;</a>
		</span>
	</h4>
	{% else %}
		<h4 class="unauthorized">Social Profile</h4>
	{% endif %}

	<ul>
		{% for social_media in member.usersocialmedia_set.all %}
			{% if social_media.deactivate == False %}
			<li>
				({{ social_media.social_media_category_id.social_media_category }}) {{ social_media.social_media_url }}
				<span>
					<a href="{% url 'update_social_media' pk=member.user_extension.id social_media=social_media.pk %}" class="update">edit</a>
				</span>
			</li>
			{% endif %}	
		{% endfor %}
	</ul>

	{# -----------------------------------------------------------------job #}
	{% if user.is_authenticated and user.get_username == member.user_extension.username %}
	<h4>
		Job Profile
		<span>
			<a href="{% url 'create_job' member.user_extension.pk %}" class="create">&plus;</a>
		</span>
	</h4>
	{% else %}
		<h4 class="unauthorized">Job Profile</h4>
	{% endif %}

	<ul>
		{% for job in member.userjob_set.all %}
			{% if job.deactivate == False %}
			<li>
				{{ job.job_title }}, {{ job.company_name }}
				<span>
					<a href="{% url 'update_job' pk=member.user_extension.id job=job.pk %}" class="update">edit</a>
				</span>
			</li>
			{% endif %}	
		{% endfor %}
	</ul>

	{# ---------------------------------------------------------------skill #}
	{% if user.is_authenticated and user.get_username == member.user_extension.username %}
	<h4>
		Skill Profile
		<span>
			<a href="{% url 'create_skill' member.user_extension.pk %}" class="create">&plus;</a>
		</span>
	</h4>
	{% else %}
		<h4 class="unauthorized">Skill Profile</h4>
	{% endif %}

	<ul>
		{% for skill in member.userskill_set.all %}
			{% if skill.deactivate == False %}
			<li>
				{{ skill.skill_category_id.skill_category }} {{ skill.skill_description }}
				<span>
					<a href="{% url 'update_skill' pk=member.user_extension.id skill=skill.pk %}" class="update">edit</a>
				</span>
			</li>
			{% endif %}	
		{% endfor %}
	</ul>

</div>

{% endblock content %}

{% block footer %}{% endblock footer %}
