{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} {{ view.title }} {% endblock %}

{% block heading %}

	{{ view.section }}

	<a href="{% url 'create_email' user.pk %}" class="btn btn-default btn-sm" aria-label="Left Align">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	</a>

{% endblock heading %}

{% block content %}

<div class="container">

	<div class="row row-offcanvas row-offcanvas-right">

	{% block details_column %}

		<section class="col-xs-12 col-sm-9">

			<p class="pull-right visible-xs">
            	<button type="button" class="btn btn-success btn-xs" data-toggle="offcanvas">Toggle nav</button>
          	</p>	

			{% block list_view_form %}

				{% for email in useremail_list %}

					{% if email.deactivate == False %}
					<ul>
						<li>
							<a href="{% url 'update_email' pk=user.id email=email.pk %}" class="list-item">({{ email.email_category_id }}) {{ email.email }}</a>
						</li>
					</ul>	
					{% endif %}
				{% endfor %}

			{% endblock list_view_form %}

		</section><!--/.col-xs-12.col-sm-9-->

		{% endblock details_column %}

		{% block nav_column %}

			{% include "user/nav_column.html" %}

		{% endblock nav_column %}

	</div><!--/row-->
</div><!--/.container-->

{% endblock content %}

{% block script_addon %}

<script src="{% static 'js/offcanvas.js' %}"></script>

{% endblock script_addon %}


