{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} phone listing {% endblock %}

{% block heading %}

<span class='user'>{{ user.username }}</span> Phone

{% endblock heading %}

{% block content %}

<div>
	{% for phone in userphone_list %}

		{% if phone.deactivate == False %}
		<ul>
			<li>
				<a href="{% url 'update_phone' pk=user.id phone=phone.pk %}">({{ phone.phone_category_id.phone_category }}) +{{ phone.country_code }} {{ phone.phone_number }}</a>
			</li>
		</ul>	
		{% endif %}
	{% endfor %}
</div>

{% endblock content %}

{% block footer %}{% endblock footer %}