{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} members {% endblock %}

{% block heading %}

	{% if user.is_authenticated and user.is_staff %}
		Members
		<a href="{% url 'invite' %}" class="btn btn-default btn-sm" aria-label="Left Align">
  			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</a>
	{% else %}
		Members
	{% endif %}

{% endblock heading %}

{% block content %}

<div>

	{% for user in networkeruser_list %}

		{% if user.user_extension.is_active == True %}
		<ul>
			<li>

				{% block list_view_form %}

				<a href="{% url 'user_detail' user.user_extension.pk %}" class='list-item'>

					{% if user.profile_image %}
					<img src="{{ user.profile_image.url }}" class="img-rounded list-img" alt="{{ user.user_extension.first_name }} {{ user.user_extension.last_name }} profile image">
					
					{% else %}
					<img src="https://unsplash.it/150/150/?random" class="img-rounded list-img" alt="alternate random image for profile">
					{% endif %}

					{{ user.user_extension.id }}: {{ user.user_extension.first_name }} {{ user.user_extension.last_name }} {{ user.user_extension.username }} - {{ user.user_extension.last_login | timesince }}
				</a>

				{% endblock list_view_form %}

			</li>
		</ul>	
		{% endif %}
	{% endfor %}
</div>

{% endblock content %}

{% block footer %}{% endblock footer %}
