{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} email listing {% endblock %}

{# {% block heading %}  Networker Users {% endblock %} #}

{% block content %}

{% for email in useremail_list %}

	{% if email.deactivate == False %}
	<div>

		<ul>
			
			<li>
				<a href="{% url 'update_email' pk=user.id email=email.pk %}">({{ email.email_category_id }}) {{ email.email }}</a>
			</li>
		</ul>	
	</div>

	{% endif %}
{% endfor %}

{% endblock content %}

{% block footer %}{% endblock footer %}