{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} {{ view.title }} {% endblock %}

{% block heading %}

<span class='user'>{{ user.username }}</span> {{ view.section }}
<span>
	<a href="{% url 'create_phone' user.pk %}" class="create">&plus;</a>
</span> 

{% endblock heading %}

{% block content %}

	{% block nav_column %}

		{% include "user/nav_column.html" %}

	{% endblock nav_column %}

	{% block details_column %}

		<section>	

			<div>

			{% block list_view_form %}

				{% for phone in userphone_list %}

					{% if phone.deactivate == False %}
					<ul>
						<li>
							<a href="{% url 'update_phone' pk=user.id phone=phone.pk %}" class="list-item">({{ phone.phone_category_id.phone_category }}) +{{ phone.country_code }} {{ phone.phone_number }}</a>
						</li>
					</ul>	
					{% endif %}
				{% endfor %}

			{% endblock list_view_form %}

			</div>

		</section>

	{% endblock details_column %}

{% endblock content %}

{% block footer %}{% endblock footer %}