{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} {{ member.user_extension.username }} profile {% endblock %}

{% block main_nav %}

    {% include "group-to-user_nav.html" %}
    
{% endblock main_nav %}

{% block heading %}

	{{ member.user_extension.first_name }}
	{{ member.user_extension.last_name }}

{% endblock heading %}

{% block content %}

<div>
	{# ---------------------------------------------------------------image #}
	{% if member.profile_image %}
	<div class="profile-image">
		<a href="{{ member.profile_image.url }}" data-featherlight="image">
			<img src="{{ member.profile_image.url }}" alt="{{ member.user_extension.first_name }} {{ member.user_extension.last_name }} profile image" class="img-responsive img-rounded">
		</a>
		
		{% if user.is_authenticated and user.get_username == member.user_extension.username %}
		<a href="{% url 'update_image' member.user_extension.pk %}" class="btn btn-success btn-xs" aria-label="Left Align">
  			<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
		</a>
		{% endif %}
	</div>
	
	{% else %}
	<a href="https://unsplash.it/150/150/?random" data-featherlight="image">
		<img src="https://unsplash.it/150/150/?random" alt="alternate random image for profile" class="profile-image img-responsive img-rounded">
	</a>
	{% endif %}

	{# ----------------------------------------------------------------main #}
	<h4>
		Primary

		{% if user.is_authenticated and user.get_username == member.user_extension.username %}
		<a href="{% url 'update_main' member.user_extension.pk %}" class="btn btn-success btn-xs" aria-label="Left Align">
  			<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
		</a>

		{% endif %}
	</h4>

	<ul>
		{# <li>ids: {{ member.user_extension.id }} &vrtri; {{ member.id }} </li> #}
		<li>username: {{ member.user_extension.username }}</li>
		{# <li>password: {{ member.user_extension.password }}</li> #}
		<li>first name: {{ member.user_extension.first_name | default:"none" }}</li> 
		<li>last name: {{ member.user_extension.last_name | default:"none" }}</li>
		<li>primary email: {{ member.user_extension.email }}</li>
		{# <li>active status: {{ member.user_extension.is_active }}</li> #}
		{# <li>staff status: {{ member.user_extension.is_staff }}</li> #}
		{# <li>superuser status: {{ member.user_extension.is_superuser }}</li> #}
		{# <li>last login: {{ member.user_extension.last_login | timesince }}</li> #}
		{# <li>date joined: {{ member.user_extension.date_joined | date:"F d, Y f A e" }}</li> #}
	</ul>

	<hr>

	{# ----------------------------------------------------------additional #}
	<h4>
		Additional

		{% if user.is_authenticated and user.get_username == member.user_extension.username %}
		<a href="{% url 'update_additional' pk=member.user_extension.pk %}" class="btn btn-success btn-xs" aria-label="Left Align">
  			<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
		</a>

		{% endif %}
	</h4>

	<ul>
		<li>relationship to group: {{ member.relationship_to_group | default:"none" }}</li>
		<li>nickname: {{ member.nickname | default:"none" }}</li>
		<li>website: {{ member.website | default:"none" }}</li>
		<li>place of birth: {{ member.place_of_birth |  default:"none" }}</li>
		<li>date of birth: {{ member.date_of_birth | date:"F d, Y" |  default:"none" }}</li>
	</ul>

	<hr>

	{# ----------------------------------------------------------membership #}
	{# <h4> #}
		{# Membership #}

		{# {% if user.is_authenticated and user.get_username == member.user_extension.username %} #}
		{# <a href="{% url 'update_membership' pk=member.user_extension.pk %}" class="btn btn-success btn-xs" aria-label="Left Align"> #}
  			{# <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> #}
		{# </a> #}

		{# {% endif %} #}
	{# </h4> #}

	<ul>
		{% for group in member.membership_list.all %}
		<li>{{ group.name }}</li>	

		{% endfor %}
	</ul>

	{# ---------------------------------------------------------------phone #}
	<h4>
		Phone

		{% if user.is_authenticated and user.get_username == member.user_extension.username %}
		<a href="{% url 'create_phone' member.user_extension.pk %}" class="btn btn-default btn-xs" aria-label="Left Align">
  			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</a> 

		{% endif %}
	</h4>

	<ul>
	{% for phone in member.userphone_set.all %}

		{% if phone.remove == False %}
	
		<li>
			({{ phone.phone_category.phone_category }}) +{{ phone.country_code }} {{ phone.phone_number }} 

			{% if user.is_authenticated and user.get_username == member.user_extension.username %}
			<a href="{% url 'update_phone' pk=member.user_extension.id phone=phone.pk %}" class="btn btn-success btn-xs" aria-label="Left Align">
  				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
			</a>

			{% endif %}
		</li>	

		{% endif %}

	{% empty %}
		<p class="text-danger">none set</p>
				
	{% endfor %}
	</ul>

	<hr>

	{# ---------------------------------------------------------------email #}
	<h4>
		Alternate Email

		{% if user.is_authenticated and user.get_username == member.user_extension.username %}
		<a href="{% url 'create_email' member.user_extension.pk %}" class="btn btn-default btn-xs" aria-label="Left Align">
  			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</a>  

		{% endif %}
	</h4>

	<ul>
	{% for email in member.useremail_set.all %}

		{% if email.remove == False %}

		<li>
			({{ email.email_category.email_category }}) {{ email.email }}

			{% if user.is_authenticated and user.get_username == member.user_extension.username %}
			<a href="{% url 'update_email' pk=member.user_extension.id email=email.pk %}" class="btn btn-success btn-xs" aria-label="Left Align">
  				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
			</a>

			{% endif %}
		</li>
		{% endif %}	

	{% empty %}
		<p class="text-danger">none set</p>

	{% endfor %}
	</ul>

	<hr>

	{# -------------------------------------------------------------address #}
	<h4>
		Address

		{% if user.is_authenticated and user.get_username == member.user_extension.username %}
		<a href="{% url 'create_address' member.user_extension.pk %}" class="btn btn-default btn-xs" aria-label="Left Align">
  			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</a> 

		{% endif %}
	</h4>

	<ul>
	{% for address in member.useraddress_set.all %}

		{% if address.remove == False %}
	
		<li>
			({{ address.address_category.address_category }}) {{ address.street_address_1 }}, {{ address.city_town }}, {{ address.state_province }}

			{% if user.is_authenticated and user.get_username == member.user_extension.username %}
			<a href="{% url 'update_address' pk=member.user_extension.id address=address.pk %}" class="btn btn-success btn-xs" aria-label="Left Align">
  				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
			</a>

			{% endif %}
		</li>
		{% endif %}	

	{% empty %}
		<p class="text-danger">none set</p>

	{% endfor %}
	</ul>

	<hr>

	{# --------------------------------------------------------social media #}
	<h4>
		Social Profile

		{% if user.is_authenticated and user.get_username == member.user_extension.username %}
		<a href="{% url 'create_social_media' member.user_extension.pk %}" class="btn btn-default btn-xs" aria-label="Left Align">
  			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</a> 

		{% endif %}
	</h4>

	<ul>
	{% for social_media in member.usersocialmedia_set.all %}

		{% if social_media.remove == False %}
	
		<li>
			({{ social_media.social_media_category.social_media_category }}) {{ social_media.social_media_url }}

			{% if user.is_authenticated and user.get_username == member.user_extension.username %}
			<a href="{% url 'update_social_media' pk=member.user_extension.id social_media=social_media.pk %}" class="btn btn-success btn-xs" aria-label="Left Align">
  				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
			</a>

			{% endif %}
		</li>
		{% endif %}	

	{% empty %}
		<p class="text-danger">none set</p>

	{% endfor %}
	</ul>

	<hr>

	{# -----------------------------------------------------------------job #}
	<h4>
		Job Profile

		{% if user.is_authenticated and user.get_username == member.user_extension.username %}
		<a href="{% url 'create_job' member.user_extension.pk %}" class="btn btn-default btn-xs" aria-label="Left Align">
  			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</a>

		{% endif %} 
	</h4>

	<ul>
	{% for job in member.userjob_set.all %}

		{% if job.remove == False %}
		
		<li>
			{{ job.title }}, {{ job.company_name }}

			{% if user.is_authenticated and user.get_username == member.user_extension.username %}
			<a href="{% url 'update_job' pk=member.user_extension.id job=job.pk %}" class="btn btn-success btn-xs" aria-label="Left Align">
  				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
			</a>

			{% endif %}
		</li>
		{% endif %}	

	{% empty %}
		<p class="text-danger">none set</p>

	{% endfor %}
	</ul>

	<hr>

	{# ---------------------------------------------------------------skill #}
	<h4>
		Skill Profile

		{% if user.is_authenticated and user.get_username == member.user_extension.username %}
		<a href="{% url 'create_skill' member.user_extension.pk %}" class="btn btn-default btn-xs" aria-label="Left Align">
  			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</a> 

		{% endif %}
	</h4>

	<ul>
	{% for skill in member.userskill_set.all %}

		{% if skill.remove == False %}
		
		<li>
			{{ skill.skill_category.skill_category }} {{ skill.skill_description }}

			{% if user.is_authenticated and user.get_username == member.user_extension.username %}
			<a href="{% url 'update_skill' pk=member.user_extension.id skill=skill.pk %}" class="btn btn-success btn-xs" aria-label="Left Align">
  				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
			</a>

			{% endif %}
		</li>
		{% endif %}	

	{% empty %}
		<p class="text-danger">none set</p>

	{% endfor %}
	</ul>

</div>

{% endblock content %}

{% block script_addon %}

<script src="//cdn.rawgit.com/noelboss/featherlight/1.3.4/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
	
{% endblock script_addon %}
