{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} {{ view.title }} {% endblock %}

{% block content %}

{% block nav_column %}
	
<section>
	<ul>
		<li><a href="{% url 'user_detail' user.pk %}" class='list-item'>Full Profile</a></li>
		<li><a href="">Main</a></li>
		<li><a href="">Additional</a></li>
		<li><a href="">Membership</a></li>
		<li><a href="{% url 'listing_phone' user.pk %}">Phone</a></li>
		<li><a href="{% url 'listing_email' user.pk %}">Alternate Email</a></li>
		<li><a href="">Address</a></li>
		<li><a href="">Social Profile</a></li>
		<li><a href="">Job Profile</a></li>
		<li><a href="">Skill Profile</a></li>
	</ul>
</section>

{% endblock nav_column %}

{% block details_column %}

	<section>	

		<div>

			<h4>
				<span class='user'>{{ user.username }}</span> 
				{{ view.section }}
			</h4>	

			<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

				{{ form.as_p }}
				<input type="submit" value="{{ view.button }}">
			</form>
		</div>
	</section>

{% endblock details_column %}

{% endblock content %}

{% block footer %}{% endblock footer %}
