{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} membership {% endblock %}

{% block heading %}

	Membership <span class="badge">{{ group_list.count }}</span>

	{% if user.is_authenticated and user.is_staff %}
	<a href="{% url 'invite' %}" class="btn btn-default btn-sm" aria-label="Left Align">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	</a>

	{% endif %}

{% endblock heading %}

{% block content %}

<div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th class="hidden-xs">Total Members</th>
                    <th class="hidden-xs">Image</th>
                </tr>
            </thead>
            <tbody>
            {% for group in group_list %} 

                <tr class='clickable-row' data-href='{% url 'group_profile' group.pk %}'>

                {% block list_view_form %}

                    <td>{{ forloop.counter }}</td>
                    <td>{{ group }}</td>
                    <td class="hidden-xs">calculating...</td>   

                    {% if group.group_image %}
                    <td class="hidden-xs"><img src="{{ group.group_image.url }}" alt="{{ group }} profile image" class="img-list img-responsive img-rounded"></td>

                    {% else %}
                    <td class="hidden-xs"><img src="https://unsplash.it/150/150/?random" alt="alternate random image for profile" class="img-list img-responsive img-rounded"></td>
                    {% endif %}
                 
                {% endblock list_view_form %}
                
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock content %}

{% block script_addon %}

<script type="text/javascript">

$(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
}); 
	
</script>
	
{% endblock script_addon %}


