{% load static from staticfiles %}

<!DOCTYPE html>
<head>
	<title>{% block title %}{% endblock %} | networker by michael williams | making peoples lives easier MPLE</title>
	<meta charset="UTF-8">

	<!-- temp styles, remove ASAP -->
	<style type="text/css">
		ul {
			list-style: none;
		}
	</style>
	
</head>
<body>
	<h1>{% block header %}{% endblock %}</h1>

	<div>{% block content %}{% endblock %}</div>

	<footer>
	    <p>&copy; 2015 networker by michael williams</p>
  </footer>
</body>
</html>